/* GLOBAL */

* {
    box-sizing: border-box;
    
}

.hideme {
    opacity: 0;
}


body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    background-color: white !important;
}

html {
    background-color: white !important;
    scroll-behavior: smooth;

}

button {
    padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
    cursor: pointer;
}

/* UP-BUTTON */
.button-up {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    font-size: 1rem;
    font-weight: 100;
    height: 36px;
    width: 36px;
    border: 1px solid white;
    border-radius: 8px;
    background: white;
    color: gray;
    z-index: 1000;
    visibility: hidden;
}

/* PRELOADER */
#loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #ECF0F1;
    /* display: none; */
  }

  .loader-space {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #ECF0F1;
  }

  .spinner-3:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 5px solid coral;
    border-right: 5px solid transparent;
    animation: spinner .7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}



/* SCROLL INDICATOR */

.progress-container {
    width: 100%;
    height: 2px;
    background: transparent;
    z-index: 160;
    position: fixed;
  }
  
  .progress-bar {
    height: 4px;
    background: #F97300;
    width: 0%;
  }

/* NAVIGATION BAR */

header {
    top: 0;
    width: 100%;
    margin: 0;
    position: fixed;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding: .1em 0;
    z-index: 100;
    transition: 0.4s all;
    opacity: .9 !important;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 3em;
}

nav li {
    margin-left: 4em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: .25em 0;
    transition: 0.4s;
    letter-spacing: .2px;
}

nav a:hover,
nav a:focus {
    color:#F97300 !important;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: .5em 1em;
    display: none;
    align-items: center;
    color: black !important;
}

@media(max-width: 990px) {

    header {
        height: 40px;
        background: white !important;
    }

    nav ul {
        display: none;
    }

    #menu-icon {
        display: flex;
        color: white;
    }

    #slideout-menu {
        display: block;
    }
}

/* slideout menu */
#slideout-menu {
    top: 0;
    display: block;
    background: white;
    z-index: 1200;
    position: fixed;
    transition: 0.4s;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li {
    padding: 8px;
}


#slideout-menu a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

/* HERO */

.banner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url(../img/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    position: relative;
    z-index: 20;
}

#banner h3 {
    
    padding: 0 24px;
    font-size: 24px;
}

/* CONTENT */

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: white !important;
}

@media (max-width: 675px) {
    .container {
        width: 95%;
    }
}

/* icon box */

.icon-box {
    width: 85%;
    margin: 0 auto;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1px solid lightgray;
    margin-bottom: 3em;
}

.icon-box ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    list-style: none;
    padding: 1em;
}

.icon-box li {
    width: 30%;
    height: 20vh;
    transform: scale(.9);
}

.icon-box i {
    color: #F97300;
}


.icon-background {
    opacity: 0.2;
   
}
  

.icon-box h3 {
    font-weight: 500;
    margin-bottom: -0.5em;
}

.icon-box p {
    font-weight: 300;
}

.fa-stack {
    transform: scale(1.4);
}

@media (max-width: 675px) 
{
    .icon-box {
        width: 100%;
        height: 100vh;
    }

    .icon-box ul {
        flex-direction: column;
    }

    .icon-box li {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .icon-box p {
        font-size: .9rem;
    }
}
/* cards */

.cards-container {
    width: 90%;
    height: 62vh;
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin: 10vh auto;
    font-family: Nunito, sans-serif;
    transition: all .3s ease;
}

.card {
    width: 30%;
    height: 90%;
    border: .1px solid lightgray;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    position: relative;
    top: 0;
}

.card-image {
    width: 100%;
    height: 55%;
    overflow: hidden;
}

.card-image div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 50px 50px -50px #333;
    top: -6px;
}

.card:hover .card-image div{
    transform: scale(1.05);
}

.image-1 {
    background-image: url(../img/card-1.jpg);
}

.image-2 {
    background-image: url(../img/card-2.jpg);
}

.image-3 {
    background-image: url(../img/card-3.jpg);
}

.card-desc {
    width: 100%;
    height: 45%;
}

@media (max-width: 900px) {
    .cards-container {
        flex-direction: column;
        height: 150vh;
    }

    .card {
        width: 100%;
        margin-bottom: 5vh;
    }
}

/* cta */

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7) url(../img/cta.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    margin-bottom: 10vh;
    position: relative;
    left: -5vw;
}

.cta-quote {
    width: 50%;
    color: white;
    margin-left: 5vw;
}

.cta-quote h2 {
    width: 80%;
    transform: scale(1.5);
}

.cta-button {
    width: 20%;
}

.cta-button button {
  color: white;
  padding: .7em 3em;
  border: 3px solid white;
  border-radius: 5px;
  transition: .4s;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.cta-button button:hover {
    background: white;
    color: black;
}

@media (max-width: 990px) {
    .cta-quote {
        display: none;
    }
    .cta-button {
        position: relative;
        transform: scale(.8);
}
}

@media (max-width: 695px) {
    .cta {
        flex-direction: column;
        height: 40vh;
    }

    .cta-button {
        position: relative;
        left: -10%;
        transform: scale(.8);
}
}

/* SLIDER */

.slider {
    position: relative;
    width: calc((300px * 4) - 3px);
    height: 200px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 0 auto;
  }
  
  .wrapper {
    overflow: hidden;
    position: relative;
    width: calc(300px * 4);
    height: 200px;
    z-index: 1;
    
  }
  
  .slides {
    display: flex;
    position: relative;
    top: 0;
    left: -300px;
    width: 10000px;
  }
  
  .slides.shifting {
    transition: left .5s ease-out;
  }
  
  .slide {
    width: 300px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    
    border-radius: 2px;
    border-right: 3px solid white;
  }
  
  /*.slider.loaded {
    .slide:nth-child(2),
    .slide:nth-child(7) { background: #FFCF47 }
    .slide:nth-child(1),
    .slide:nth-child(6) { background: #7ADCEF }
    .slide:nth-child(3) { background: #3CFF96 }
    .slide:nth-child(4) { background: #a78df5 }
    .slide:nth-child(5) { background: #ff8686 }
  }
  */

  
  /*.slider.loaded .slide:nth-child(2), .slider.loaded .slide:nth-child(11) {
      background: url(../img/slides/slide-1.jpg);
      background-size: cover;
  }
  .slider.loaded .slide:nth-child(1), .slider.loaded .slide:nth-child(10) {
      background: url(../img/slides/slide-2.jpg);
      background-size: cover;
  }
  .slider.loaded .slide:nth-child(3) {
      background: url(../img/slides/slide-3.jpg);
      background-size: cover;
  }
  .slider.loaded .slide:nth-child(4) {
      background: url(../img/slides/slide-4.jpg);
      background-size: cover;
  }
  .slider.loaded .slide:nth-child(5) {
      background: url(../img/slides/slide-5.jpg);
      background-size: cover;
  }
  .slider.loaded .slide:nth-child(6) {
    background: url(../img/slides/slide-6.jpg);
    background-size: cover;
  }
  .slider.loaded .slide:nth-child(7) {
    background: url(../img/slides/slide-7.jpg);
    background-size: cover;
  }
  .slider.loaded .slide:nth-child(8) {
    background: url(../img/slides/slide-8.jpg);
    background-size: cover;
  }
  .slider.loaded .slide:nth-child(9) {
    background: url(../img/slides/slide-9.jpg);
    background-size: cover;
  }
  */
  
  
  .control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100%;
    background: black;
    color: white;
    opacity: .3;
    transform: translate(50%, -50%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
  }

  .prev,
  .next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
  }
  
  .prev {
   left: -24px !important;
    
  }

  .next {
      right: 25px !important;
  }

  .orange-btn {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    color: #F97300;
    border: 2px solid #F97300;
    border-radius: 25px;
    padding: 1em 2em;
    transition: .3s ease;
    position: relative;
    margin-bottom: 100px;
    opacity: .7;
    top: 60px;
}

.orange-btn:hover {
    color: white;
    background: #F97300;
}

.slider-heading {
    text-align: center !important;
    transform: scale(1.3);
    position: relative;
    top: 30px;
    color: dimgray;
    margin: 100px auto;
}
  

  .slide img {
      width: 100%;
      height: 100%;
  }

  @media (max-width: 990px) {
      .wrapper {
          width: calc(300px * 2);
      }
  }

  @media (max-width: 675px) {
    .wrapper {
        width: calc(300px * 1);
    }
  }

  /*----------- slider for testimonials ----------*/

 /*  .testimonials-slider .wrapper {
      width: 300px;
      overflow: hidden;
  } */
 
/* career section */
.career-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald, sans-serif;
    margin-bottom: 700px;
    margin-top: 30vh;
    background-color: silver;
    position: relative;
    top: 100px;
    border-radius: 8px;
}

.career-right {
   position: relative;
   bottom: 15%;
   height: 105% !important;
   align-items: center;
   background-color: lightgrey;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

.career-left {
    background-color: dimgray;
    color: white;
}

.career-side {
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
}

.career-side div {
    text-align: left;
    width: 70%;
}

.career-side div div {
    margin-top: 20%;
    line-height: 1em;
}

.career-side h3,
.career-side h2 {
    font-size: 2rem;
    line-height: 1.2em;
}

.career-side p {
    width: 100%;
    font-family: Lato, sans-serif;
    font-weight: 500;
}

.career-side span {
    font-weight: bold;
}


@media (max-width: 675px) {
    .career-wrapper {
        flex-direction: column;
        background-color: white;
        height: 200vh !important;
    }

    .career-side {
        width: 100%;
    }

    .career-left {
        height: 60%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .career-right {
        bottom: 0;
        height: 40% !important;
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

/* FOOTER */

footer {
    display: flex;
    background-color: #2d2d2d;
    color: #999;
    height: 500px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
}

/* contact form */

.contact-form-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.contact-form {
    width: 85%;
    max-width: 600px;
    background: #444442;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.contact-form h2 {
    color: white;
}

.txtb {
    border: 3px solid #444442;
    margin: 8px 0;
    height: 60px;
    border-radius: 8px;
    background-color: #2d2d2d;
    padding-left: 8px;
    padding-top: 6px;
}

.txtb label {
    display: block;
    text-align: left;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
}

.txtb input,
.txtb textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: lightgray;
    margin-top: 6px;
    font-size: .8rem;
    color: lightgray;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.txtb input:focus,
.txtb textarea:focus {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.form-btn {
    display: inline-block;
    background: transparent;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 17%;
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

textarea {
    resize: none;
}

.input-cap {
    text-transform: capitalize;
}


.google-map {
    width: 50%;
   
}

@media (max-width: 990px) {
    .contact-form-container {
        width: 60%;
    }
}

@media  (max-width: 768px) {

    footer {
        flex-direction: column;
    }
    .contact-form-container {
        width: 100%;
    }
}

@media (max-width: 675px) {
    footer {
        flex-direction: column;
    }

    .contact-form-container {
        width: 100%;
    }
}

/* LIGHTBOX */

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 80%;
    max-height: 70%;
    border: 2px solid white;
}

 #lightbox .prev,
 #lightbox .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1001;
  }

  .next {
      right: 5%;
  }

  .prev {
      left: 5%;
  }

/* ------------------------ SERVICES CSS --------------------------- */

.services-banner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url(../img/hero-services.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    position: relative;
    z-index: 20;
}

.services-banner h3 {
    
    padding: 0 24px;
    font-size: 1.2rem;
}



/* ------------------------ ABOUT CSS -------------------------------- */

.about-banner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url(../img/hero-about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    position: relative;
    z-index: 20;
}

.about-banner h3 {
    
    padding: 0 24px;
    font-size: 1.2rem;
}
