/* GLOBAL */

* {
    box-sizing: border-box;
    
}

.hideme {
    opacity: 0;
}

.hideme.reveal {
    animation: reveal 1s;
    animation-fill-mode: forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
    }
}


body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
    background-color: white !important;
}

html {
    background-color: white !important;
    scroll-behavior: smooth;

}

button {
    padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
    cursor: pointer;
}

/* UP-BUTTON */
.button-up {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    font-size: 1rem;
    font-weight: 100;
    height: 36px;
    width: 36px;
    border: 1px solid white;
    border-radius: 8px;
    background: white;
    color: gray;
    z-index: 1000;
    visibility: hidden;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* PRELOADER */
#loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #ECF0F1;
    /* display: none; */
  }

  .loader-space {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #ECF0F1;
  }

  .spinner-3:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 5px solid coral;
    border-right: 5px solid transparent;
    animation: spinner .7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}



/* SCROLL INDICATOR */

.progress-container {
    width: 100%;
    height: 2px;
    background: transparent;
    z-index: 160;
    position: fixed;
  }
  
  .progress-bar {
    height: 4px;
    background: #F97300;
    width: 0%;
  }

/* NAVIGATION BAR */

header {
    top: 0;
    width: 100%;
    margin: 0;
    position: fixed;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding: .1em 0;
    z-index: 100;
    transition: 0.4s all;
    opacity: .9 !important;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 3em;
}

nav li {
    margin-left: 4em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: .25em 0;
    transition: 0.4s;
    letter-spacing: .2px;
}

nav a:hover,
nav a:focus {
    color:#F97300 !important;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: .5em 1em;
    display: none;
    align-items: center;
    color: black !important;
}

@media(max-width: 990px) {

    header {
        height: 40px;
        background: white !important;
    }

    nav ul {
        display: none;
    }

    #menu-icon {
        display: flex;
        color: white;
    }

    #slideout-menu {
        display: block;
    }
}

/* slideout menu */
#slideout-menu {
    top: 0;
    display: block;
    background: white;
    z-index: 1200;
    position: fixed;
    transition: 0.4s;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li {
    padding: 8px;
}


#slideout-menu a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

/* HERO */

.banner-container {
    width: 100%;
    overflow: hidden;
}

.banner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url('img/hero.jpg');
    background-attachment: fixed !important;
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    z-index: 20;
}

.banner.animate {
    animation: scale-down .8s;
    animation-fill-mode: forwards;
}

.banner.cover {
    background-size: cover !important;
    background-attachment: fixed !important;
}

@keyframes scale-down {
    from {
      transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

#banner h3 {
    
    padding: 0 24px;
    font-size: 24px;
}

/* CONTENT */

main {
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: white !important;
}

@media (max-width: 675px) {
    .container {
        width: 95%;
    }
}

/* icon box */

.icon-box {
    width: 85%;
    margin: 0 auto;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1px solid lightgray;
    margin-bottom: 3em;
}

.icon-box ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    list-style: none;
    padding: 1em;
}

.icon-box li {
    width: 30%;
    height: 20vh;
    transform: scale(.9);
    opacity: 0; 
}

.icon-box li:nth-child(1) {
    
    transform: translateX(-40px);
    
}

.icon-box li:nth-child(3) {
    
    transform: translateX(40px);
}

.icon-box li:nth-child(2) {
    
    transform: translateY(30px);
}

.icon-box li.animate {
    -moz-animation: moving .8s;
    -webkit-animation: moving .8s;
    animation: moving .8s;
    animation-fill-mode: forwards;
    animation-delay: .3s;
}

@-moz-keyframes moving {
    to {
        -moz-transform: translateX(0) translateY(0);
    }
}

@-webkit-keyframes moving {
    to {
        -webkit-transform: translateX(0) translateY(0);
        
    }
}

@keyframes moving {
    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
} 


.icon-box-rescue {
    opacity: 1 !important;
    -webkit-transform: translateX(0) translateY(0) !important;
    transform: translateX(0) translateY(0);
}

.icon-box i {
    color: #F97300;
}


.icon-background {
    opacity: 0.2;
   
}
  

.icon-box h3 {
    font-weight: 500;
    margin-bottom: -0.5em;
}

.icon-box p {
    font-weight: 300;
}

.fa-stack {
    transform: scale(1.4);
}

@media (max-width: 990px) {
    .icon-box p {
        font-size: .8rem;
    }

    .icon-box h3 {
        font-size: 1rem;
    }
}

@media (max-width: 675px) 
{
    .icon-box {
        width: 100%;
        height: 100vh;
    }

    .icon-box ul {
        flex-direction: column;
    }

    .icon-box li {
        width: 100%;
        margin-bottom: 1.5em;
        transform: translateX(0) translateY(0) !important;
        opacity: 1;
    }

    .icon-box p {
        font-size: .9rem;
    }
}
/* cards */

.cards-container {
    width: 90%;
    height: 62vh;
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin: 10vh auto;
    font-family: Nunito, sans-serif;
    transition: all .3s ease;
}

.card {
    width: 30%;
    height: 90%;
    border: .1px solid lightgray;
    border-radius: 4px;
    transition: all 0.3s ease-out;
    position: relative;
    top: 0;
}

.card-image {
    width: 100%;
    height: 55%;
    overflow: hidden;
}

.card-image div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 50px 50px -50px #333;
    top: -6px;
}

.card:hover .card-image div{
    transform: scale(1.05);
}

.image-1 {
    background-image: url('img/card-1.jpg');
}

.image-2 {
    background-image: url('img/card-2.jpg');
}

.image-3 {
    background-image: url('img/card-3.jpg');
}

.card-desc {
    width: 100%;
    height: 45%;
}

@media (max-width: 900px) {
    .cards-container {
        flex-direction: column;
        height: 150vh;
    }

    .card {
        width: 100%;
        margin-bottom: 5vh;
    }
}

/* cta */

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) url('img/cta.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    color: white;
}

.cta-quote {
    width: 50%;
    padding: 5em;
}

.cta-quote h2 {
    font-size: 2rem;
}

.cta-button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button button {
    color: white;
  padding: .7em 3em;
  border: 3px solid white;
  border-radius: 5px;
  transition: .4s;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.cta-button button:hover {
    background: white;
    color: black;
}

@media (max-width: 1200px) {
    .cta-quote {
        padding: 3em;
    }
}

@media (max-width: 1100px) {
    .cta-quote {
        padding: 1em;
    }
}

@media (max-width: 900px) {
    .cta-quote h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 690px) {
    .cta {
        height: 40vh;
    }

    .cta-quote {
        display: none;
    }
}

/* SLIDER */

.slider {
    position: relative;
    width: calc((300px * 4) - 3px);
    height: 200px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 0 auto;
  }
  
  .wrapper {
    overflow: hidden;
    position: relative;
    width: calc(300px * 4);
    height: 200px;
    z-index: 1;
    pointer-events: auto;
  }
  
  .slides {
    display: flex;
    position: relative;
    top: 0;
    left: -300px;
    width: 10000px;
    pointer-events: auto;
  }
  
  .slides.shifting {
    transition: left .2s ease-out;
  }
  
  .slide {
    width: 300px;
    height: 200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    
    border-radius: 2px;
    border-right: 3px solid white;
  }

  .control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100%;
    background: black;
    color: white;
    opacity: .3;
    transform: translate(50%, -50%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
  }

  .prev,
  .next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
  }
  
  .prev {
   left: -24px !important;
    
  }

  .next {
      right: 25px !important;
  }

  .orange-btn {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    color: #F97300;
    border: 2px solid #F97300;
    border-radius: 25px;
    padding: 1em 2em;
    transition: .3s ease;
    position: relative;
    margin-bottom: 100px;
    opacity: .7;
    top: 60px;
}

.orange-btn:hover {
    color: white;
    background: #F97300;
}

.slider-heading {
    text-align: center !important;
    transform: scale(1.3);
    position: relative;
    top: 30px;
    color: dimgray;
    margin: 100px auto;
}
  

  .slide img {
      width: 100%;
      height: 100%;
      
  }

  @media (max-width: 1200px) {
      .slider {
          width: calc(300px * 3);
      }
  }

  @media (max-width: 990px) {
    .slider {
        width: calc(300px * 2);
    }
}

  @media (max-width: 675px) {
    .slider {
        width: calc(300px * 1);
    }

    .slide {
        width: 300px;
    }
  }


  /*----------- slider for testimonials ----------*/

 /*  .testimonials-slider .wrapper {
      width: 300px;
      overflow: hidden;
  } */
 
/* career section */
.career-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald, sans-serif;
    margin-bottom: 700px;
    margin-top: 30vh;
    background-color: gray;
    position: relative;
    top: 100px;
    border-radius: 8px;
}

.career-right {
   position: relative;
   bottom: 15%;
   height: 105% !important;
   align-items: center;
   background-color: silver;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

.career-left {
    background-color: dimgray;
    color: white;
}

.career-side {
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
}

.career-side div {
    text-align: left;
    width: 70%;
}

.career-side div div {
    margin-top: 20%;
    line-height: 1em;
}

.career-side h3,
.career-side h2 {
    font-size: 2rem;
    line-height: 1.2em;
}

.career-side p {
    width: 100%;
    font-family: Lato, sans-serif;
    font-weight: 500;
}

.career-side span {
    font-weight: bold;
}


@media (max-width: 675px) {
    .career-wrapper {
        flex-direction: column;
        background-color: white;
        height: 200vh !important;
    }

    .career-side {
        width: 100%;
    }

    .career-left {
        height: 60%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .career-right {
        bottom: 0;
        height: 40% !important;
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

/* FOOTER */

footer {
    display: flex;
    background-color: #2d2d2d;
    color: #999;
    height: 500px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
}


.google-map {
    width: 50%;
   
}



/* LIGHTBOX */

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 80%;
    max-height: 70%;
    border: 2px solid white;
}

 #lightbox .prev,
 #lightbox .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1001;
  }

  #lightbox .next {
      right: 5% !important;
  }

  #lightbox .prev {
      left: 5% !important;
  }

/* ------------------------ SERVICES CSS --------------------------- */

.services-banner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url('img/hero-services.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    position: relative;
    z-index: 20;
}

.services-banner h3 {
    
    padding: 0 24px;
    font-size: 1.2rem;
}



/* ------------------------ ABOUT CSS -------------------------------- */

.about-banner {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url('');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    position: relative;
    z-index: 20;
}

.about-banner h3 {
    
    padding: 0 24px;
    font-size: 1.2rem;
}
